{% extends 'ubsshop/Main.html' %}
{% load static %}
{% block content %}

<h3>View</h3>
<div class="row">
    <div class="col-lg-5">
        <div class="box-element"id="form-wrapper">
            <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for p in photos %}
                        <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
                    {% endfor %}
                </ol>
                    <div class="carousel-inner" role="listbox">
                         {% for p in photos %}
                            <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                              <img class="d-block w-100 img-thumbnail" style="width : 300px;height:400px;" src="{{p.images.url}}"alt="First slide">
                            </div>
                         {% endfor %}
                         <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                         <span class="sr-only"></span></a>
                         <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                         <span class="carousel-control-next-icon" aria-hidden="true"></span>
                         <span class="sr-only"></span></a>
                    </div>
            </div>
        </div>
    </div>    
    <div class="col-lg-6">
        <div class="box-element">
            {% for product in product %}
                <div class= "product description">
                    <h1 style="display: inline;"><strong>{{product.name}}</strong></h1>
                    <h4 style="display: inline; float: right"><strong>{{product.price}}$</strong></h4>
                    </br>
                    <h4 style="display: inline-block; float: left"><strong>{{product.description}}</strong></h4>
                    </br>
                    <hr>
                    <h9 style="display: inline-block; float: right;color:gray;">{{product.date}}</h9>
                    <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    <a  class="btn btn-outline-success" href="{% url 'store' %}"> Continue Shopping</a>
                </div>
            {% endfor %}
        </div>   
    </div>
</div>

{% endblock content %}